
<nav class="menubar">
  <ul>
  <li class="current"><a href="#">HOME</a></li>
  <li><a href="#">ログを見る</a></li>
  <li><a href="#">登録</a></li>
  <li><a href="#">ログイン</a></li>
  </ul>
</nav>

<p>PC作業は、1時間に1度、15分の休憩をとることが望ましいとされています。</p>


<h1>00:00</h1>

<p>開始</p>
<p>小休止</p>
<p>休憩</p>

<p>ログを見る</p>


<p>c: StretchTimer</p>