<li id="worktimes-<%= worktimes.id %>">
  <span class="user"><%= link_to worktimes.user.name, worktimes.user %></span>
  <span class="content"><%= worktimes.start_time %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(worktimes.created_at) %> ago.
  </span>
</li>