<div class="main">
<p>このアプリは、定期的に休憩をとりストレッチをすることで、健康的にPC作業を送るために開発されています。</p>

<p>ログインすると、</p>
<p>･タイマーログが記録できるようになります。</p>
<p>･ブラウザを閉じても、タイマーカウントが継続されるようになります。
  (ブラウザを閉じている間は、通知は表示されません。)</p>

</div>