<div class="main about">

<h1>Stretch Timerは、健康的なPC作業をサポートします。</h1>

<div class="list">
  <h2>このアプリでできること</h2>
  <ul>
    <li>作業時間を記録します。</li>
    <li>設定した休憩時間に通知を送ります。</li>
    <li>休憩中のストレッチ動画をお勧めします。</li>
  </ul>
</div>

<div class="list">
  <h2>ログインしたらできること</h2>
  <ul>
    <li>日々のタイマーログが記録されていきます。</li>
    <li>休憩間隔の適性度合いが可視化されます。</li>
    <li>ブラウザを閉じてもタイマーが保持されます。</li>
  </ul>

  <div>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
  </div>
  <div class="signup">
    <%= link_to "Sign up", new_user_registration_path %>
  </div>
</div>
