<div class="main">

  <!-- 休憩メッセージ -->
  <div id="break-message">
    <p>
      お疲れ様です。目を休めてストレッチをしましょう。
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/iEda-ZxH_1M" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/cuUU3UOkswg" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7EYkfn5yLOo" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/hEUxM9BEqGc" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/WRfT5RIMfYU" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/h8tu-bWYatw" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>

  <!-- タイマ再開ボタン -->
  <button class="btn btn-primary" id="restart-button">
    タイマ再開
  </button>

  <%= javascript_pack_tag 'timer/break' %>

</div>