<div id="main">
  <!-- 通知許可ボタン -->
  <button class="btn btn-primary" id="notification-button">
    まずはここをクリックして通知を許可してください
  </button>

    <div class="init-message">
      <p class="init-message-text">
        PC作業は、1時間に10~15分休憩をとることが、必要とされています。
        <p>
          参考リンク:
          <a href="https://www.mhlw.go.jp/content/000539604.pdf" target="_blank" rel="noopener noreferrer">
            情報機器作業における労働衛生管理のためのガイドラインについて
          </a>
        </p>
      </p>
    </div>

  <!-- 時間設定 -->
  <div id="elapse-message">
  
    <p class="elapse-message-text">
      休憩間隔
    </p>

    <select id="elapse-box">
      <option value="0" id="zero">0</option>
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
      <option value="25">25</option>
      <option value="30">30</option>
      <option value="35">35</option>
      <option value="40">40</option>
      <option value="45">45</option>
      <option value="50">50</option>
      <option value="55">55</option>
    </select>

    <p class=elapse-box-text>
    分
    </p>
    
    <button class="btn btn-primary" id="start-button">
      Timer Start
    </button>
    
  </div>

  <!-- 時間表示 -->
  <div id="time-block">
    <p>経過時間</p>
    <p id="time">
      -- : -- : --
    </p>
  </div>

  <!-- 一時停止ボタン -->
  <button class="btn btn-primary" id="pause-button">
    一時停止
  </button>

  <!-- 休憩ボタン -->
  <button class="btn btn-primary" id="break-button">
    休憩
  </button>

  <!-- 休憩中メッセージ -->
  <div id="break">
    <p class="break-text">
      お疲れ様です。目を休めてストレッチをしましょう。
    </p>
  </div>
  
  <!-- 再開ボタン -->
  <button class="btn btn-primary" id="restart-button">
    タイマ再開
  </button>

  <!-- 更新履歴、ご要望 -->
  <div class="links">
    <a class="btn btn-outline-primary btn-sm" href="./html/log.html" target="_blank">
      更新履歴
    </a>
    <a class="btn btn-outline-primary btn-sm" href="http://gunj0.site-station.net/" target="_blank">
      ご意見・ご要望
    </a>
  </div>
  
</div>
