<div class="main">
  <% if user_signed_in? %>
    <% if @user.worktimes.any? %>
      <div>name: <%= current_user.name %></div>
      <div>email: <%= current_user.email %></div>
    <% else %>
      <div>タイマーがここに記録されます。</div>
    <% end %>
  <% else %>
    <div>ログインすると、タイマーログが見られるようになります。</div>
  <% end %>
</div>