<div class="main">
  <% if user_signed_in? %>

    <% if @worktimes.present? %>
      <h1>タイマーログ</h1>
      <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th>開始時間</th>
              <th>終了時間</th>
              <th>途中休憩時間</th>
              <th>合計作業時間</th>
            </tr>
          </thead>
          <% @worktimes.each do |worktime| %>
            <tr>
              <td><%= Time.at(worktime.start_time/1000).strftime("%m/%d %H:%M:%S") %></td>
              <td><%= Time.at(worktime.end_time/1000).strftime("%m/%d %H:%M:%S") %></td>
              <td><%= Time.at(worktime.accumulate_time/1000).strftime("%H:%M:%S") %></td>
              <td></td>
            </tr>
          <%end%>
        </table>
      </div>
    <% else %>

      <%# ログがないとき %>
      <div>タイマーログがここに記録されていきます。</div>
    <% end %>
  <% else %>

    <%# 非ログイン時 %>
    <div>ログインすると、タイマーログが見られるようになります。</div>
  <% end %>
</div>