@import "~bootstrap/scss/bootstrap";

body {
  font-family: 
  "SF Pro JP",
  "SF Pro Text",
  "SF Pro Icons",
  "Hiragino Kaku Gothic Pro",
  "ヒラギノ角ゴ Pro W3",
  "メイリオ",
  "Meiryo",
  "ＭＳ Ｐゴシック",
  "Helvetica Neue",
  "Helvetica",
  "Arial",
  sans-serif;
}

/* nav-bar */
nav {
  text-align: right;
}

.navbar-toggler {
  margin: 0;
}

/* mainページ */
.main {
  text-align: center;
  margin: 50px auto;
}

/*  */
.timerlog {
h2{
  margin: 20px auto;
}
.pagination {
  justify-content: center;
}
}

#recommend_message {
  margin: 50px auto;
  display: none;
}

#break_time_set {
  margin: 50px auto;
  display: none;

  p{
    margin: 0;
  }
}

#start_button {
  display: none;
}

#time_display {
  font-size: 20px;
}

.user-name {
  margin: 0 50px;
}

.up-down-margin-sm {
  margin: 20px 0;
}

.up-down-margin-lg {
  margin: 50px 0;
}

button {
  margin: 0 auto;
}

#start_button {
  margin: 0 auto;
}

#pause_button,
#restart_button,
#break_button {
  padding: 0;
}


#error_explanation {
  color: red;
  text-align: center;
  font-size: 15px;
  margin: 0 auto;

  li {
    list-style: none;
  }
}

#time_display {
  font-family: monospace;
}

.links {
  margin: 0 auto;
  text-align: center;
}

.btn {
  margin: 10px;
}