@import "~bootstrap/scss/bootstrap";

body {
  font-family: 
    "SF Pro JP",
    "SF Pro Text",
    "SF Pro Icons",
    "Hiragino Kaku Gothic Pro",
    "ヒラギノ角ゴ Pro W3",
    "メイリオ",
    "Meiryo",
    "ＭＳ Ｐゴシック",
    "Helvetica Neue",
    "Helvetica",
    "Arial",
    sans-serif;

    min-height: 100vh;
    position: relative;
    padding-bottom: 50px;
    box-sizing: border-box;
    background-image: url("/images/4932179_s.jpg");
    background-size: cover;
}

/* nav-bar */
nav {
  font-size: 16px;
  text-align: right;
  
  .user-name {
    margin: 0 50px;
  }
  .navbar-toggler {
    margin: 0;
  }
}

/* main */
.main {
  text-align: center;
}

/* indexページ */
.index {
  .message {
    margin: 0px auto;
    padding: 50px 0;

    h1.message {
      font-size: 24px;
    }
    h2.message {
      font-size: 18px;
    }
    color: #555;
  }
  #notification_button {
    margin: 50px auto 70px auto;
  }
  #notification_timing_set {
    margin: 20px auto 20px auto;
    display: none;
    
    .timing-select {
      width: 25%;
      margin: 0 auto;
      padding: 10px;
      font-size: 18px;
    }
    select,option {
      border: black 0px inset;
      border-bottom: black 1px inset;
      cursor: pointer;
    }
  }
  #start_button {
    margin: 0 auto;
    display: none;
  }
  #recommend_message {
    margin: 100px auto;
    display: none;
    font-size: 16px;

    .reference {
      margin: 5px auto;
      font-size: 14px;
    }
  }
}

/* workページ */
.work {
  margin: 100px auto;

  #time_message {
    font-size: 25px;
  }
  #timing_display {
    font-size: 20px;
  }
  #time_display {
    font-size: 40px;
    font-family:
      'Liberation Serif',
      'Noto Sans CJK JP',
      /* Linux/Android/ChromeOS */
      'TakaoGothic',
      'VL Gothic',
      /* Debian/Ubuntu */
      'Yu Gothic',
      'MS Gothic',
      /* Windows */
      'Hiragino Sans',
      'Hiragino Kaku Gothic ProN',
      'Osaka-Mono',
      /* Mac/iOS */
      'Noto Sans JP',
      Monospace;
  }
  #pause_button,
  #restart_button,
  #break_button {
    padding: 0;
  }
}

/* breakページ */
.break {
  margin: 50px auto;
  font-size: 18px;
  
  #movie_switch {
    margin-bottom: 30px;
  }
}

/* aboutページ */
.about {
  margin: 50px auto;

  h1 {
    margin: 20px auto;
    font-size: 32px;
  }
  h2 {
    margin: 20px auto;
    font-size: 24px;
  }
  .list {
    width: 30%;
    margin: 50px auto;
  }
  li {
    text-align: left;
    font-size: 17px;
    margin: 11px;
  }
  .signup {
    margin: 20px auto;
  }
}

/* timerlogページ */
.timerlog {
  margin: 50px auto;

  .message {
    width: 50%;
    font-size: 17px;
    margin: 50px auto;
  }
  h2 {
    margin: 20px auto;
  }
  .pagination {
    justify-content: center;
  }
  .good {
    color: green;
    font-weight: bold;
  }
  .bad {
    color: red;
    font-weight: bold;
  }
}

.up-down-margin-sm {
  margin: 20px 0;
}

.up-down-margin-lg {
  margin: 50px 0;
}

/* editページ */
.edit {
  margin: 30px auto;

  div {
    margin: 20px auto;
  }
}

/* エラーメッセージ */
#error_explanation {
  color: red;
  text-align: center;
  font-size: 15px;
  margin: 0 auto;

  li {
    list-style: none;
  }
}

/* ご意見リンク */
.links {
  margin: 10px auto;
  text-align: center;
}

/* ご意見フォーム */
.mail {
  width: 75%;
  margin: 50px auto;

  .error {
    color: red;
  }
  .btn {
    margin: 20px auto;
  }
  .back {
    background-color: transparent;
    border: none;
    color: #007bff;
  }
  .back:hover {
    text-decoration: underline;
  }
}

/* footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  
  .copyright {   
    text-align: center;
    font-size: 12px;
    color: rgb(134, 134, 139);
    border-top: solid 1px rgb(210, 210, 215);
  }
}