@import "~bootstrap/scss/bootstrap";

nav {
  text-align: right;
}

.main {
  font-family: monospace;
  text-align: center;
  margin: 50px auto;
}

#recommend-message {
  margin: 50px auto;
}

#break-time-set {
  p{
    margin: 0;
  }
}  

#time-display {
  font-size: 20px;
}

.user-name {
  margin: 0 50px;
}

.links {
  margin: 50px;
}

.up-down-margin-sm {
  margin: 20px 0;
}

.up-down-margin-lg {
  margin: 50px 0;
}

button {
  margin: 0 auto;
}

#recommend-message,
#break-time-set,
#start-button,
#time-display-box,
#pause-break-button,
#break-message,
#restart-button
{
  display: none;
}